---
layout: default
---
<div class="container">
  <div class="sections-row row">
    {% if site.data.summary %}
    <div class="summary col-12">
      <h3 class="title with-icon">
        <span class="fa fa-user cat-title"></span>
        Summary
      </h3>
      <div class="row">
        <div class="col-12">
          <div class="summary-panel">
            {{ site.data.summary }}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if site.data.skills %}
    <div class="skills col-12">
      <h3 class="title with-icon">
        <span class="fa fa-laptop cat-title"></span>
        Skills
      </h3>
      <div class="row row-no-gutters">
        {% if site.data.skills.languages %}
        <div class="col-12 col-sm-4">
          <div class="skill-panel">
            <div class="skill-title">
              Languages
            </div>
            <ul class="skill-list">
              {% for language in site.data.skills.languages %}
              <li>{{ language }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
        {% if site.data.skills.frameworks %}
        <div class="col-12 col-sm-4">
          <div class="skill-panel">
            <div class="skill-title">
              Frameworks
            </div>
            <ul class="skill-list">
              {% for framework in site.data.skills.frameworks %}
              <li>{{ framework }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
        {% if site.data.skills.platforms %}
        <div class="col-12 col-sm-4">
          <div class="skill-panel">
            <div class="skill-title">
              Platforms
            </div>
            <ul class="skill-list">
              {% for platform in site.data.skills.platforms %}
              <li>{{ platform }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
      </div>
      {% endif %}
    </div>
    {% if site.data.workHistory %}
    <div class="col-12">
      <h3 class="title with-icon on-timeline">
        <span class="fa fa-building cat-title"></span>
        Work Experience
      </h3>
      <ul class="timeline">
        {% for work in site.data.workHistory %}
        <li class="timeline-inverted">
          {% if work.started %}
          <div class="timeline-badge info">{{ work.started }}</div>
          {% endif %}
          <div class="timeline-panel grid-block">
            <div class="timeline-heading clearfix">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-8">
                    {% if work.company %}
                    <h4 class="timeline-title">
                      {% if work.link %}
                      <a href="{{ work.link }}" target="_blank"
                         rel="noopener nofollow noreferrer">{{ work.company }}</a>
                      {% else %}
                      {{ work.company }}
                      {% endif %}
                    </h4>
                    {% endif %}
                    <p>
                      <em>
                        {% if work.title %}
                        {{ work.title }}
                        {% endif %}
                      </em>
                    </p>
                  </div>
                  <div class="col-sm-4 duration-location">
                    <p>
                      <small class="text-muted">
                        {% if work.duration %}
                        <i class="fa fa-calendar"></i> {{ work.duration }}
                        {% endif %}
                      </small>
                    </p>
                    <p>
                      <small class="text-muted">
                        {% if work.location %}
                        <i class="fa fa-map-marker"></i> {{ work.location }}
                        {% endif %}
                      </small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="timeline-body">
              {% if work.description %}
              <ul>
                {% for descItem in work.description %}
                <li>{{ descItem }}</li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if site.data.educationHistory %}
    <div class="col-12">
      <h3 class="title with-icon on-timeline"><span class="fa fa-graduation-cap cat-title"></span>Education</h3>
      <ul class="timeline">
        {% for education in site.data.educationHistory %}
        <li class="timeline-inverted">
          {% if education.graduated %}
          <div class="timeline-badge info">{{ education.graduated }}</div>
          {% endif %}
          <div class="timeline-panel grid-block">
            <div class="timeline-heading">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-8">
                    {% if education.organization %}
                    <h4 class="timeline-title">{{ education.organization }}</h4>
                    {% endif %}
                    <p>
                      <small class="text-muted">
                        {%- if education.degree -%}
                        {{ education.degree }}
                        {%- endif -%}
                        {%- if education.major -%}
                        , {{ education.major }}
                        {%- endif -%}
                      </small>
                    </p>
                  </div>
                  <div class="col-sm-4 duration-location">
                    <p>
                      <small class="text-muted">
                        {% if education.duration %}
                        <i class="fa fa-calendar"></i> {{ education.duration }}
                        {% endif %}
                      </small>
                    </p>
                    <p>
                      <small class="text-muted">
                        {% if education.location %}
                        <i class="fa fa-map-marker"></i> {{ education.location }}
                        {% endif %}
                      </small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="timeline-body">
              {%- if education.gpa -%}
              <p>
                <small class="text-muted">
                  GPA:&nbsp;{{- education.gpa }}
                </small>
              </p>
              {%- endif -%}
              {% if education.description %}
              <p>{{ education.description }}</p>
              {% endif %}
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if site.data.sideProjects %}
    <div class="col-12">
      <h3 class="title with-icon on-timeline">
        <span class="fa fa-lightbulb cat-title"></span>
        Side Projects
      </h3>
      <ul class="timeline">
        {% for project in site.data.sideProjects %}
        <li class="timeline-inverted">
          {% if project.started %}
          <div class="timeline-badge info">{{ project.started }}</div>
          {% endif %}
          <div class="timeline-panel grid-block">
            <div class="timeline-heading clearfix">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-8">
                    {% if project.title %}
                    <h4 class="timeline-title">
                      {% if project.link %}
                      <a href="{{ project.link }}" target="_blank"
                         rel="noopener nofollow noreferrer">{{ project.title }}</a>
                      {% else %}
                      {{ project.title }}
                      {% endif %}
                    </h4>
                    {% endif %}
                  </div>
                  <div class="col-sm-4 duration-location">
                    <p>
                      <small class="text-muted">
                        {% if project.duration %}
                        <i class="fa fa-calendar"></i> {{ project.duration }}
                        {% endif %}
                      </small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="timeline-body">
              {% if project.description %}
              <ul>
                {% for descItem in project.description %}
                <li>{{ descItem }}</li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</div>
