html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    margin: 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #F0F0F0;
    background-image: url(assets/img/bg.jpg);
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    background-color: transparent;
    color: #337ab7;
    text-decoration: none
}

a:focus,a:hover {
    color: #23527c;
    text-decoration: underline
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

small {
    font-size: 80%
}

amp-img {
    border: 0;
    vertical-align: middle
}

svg:not(:root) {
    overflow: hidden
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

:after,:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}


.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small {
    font-weight: 400;
    line-height: 1;
    color: #777
}

.h1,.h2,.h3,h1,h2,h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

.h4,.h5,.h6,h4,h5,h6 {
    margin-top: 10px;
    margin-bottom: 10px
}
.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small {
    font-size: 75%
}

.h3,h3 {
    font-size: 24px
}

.h4,h4 {
    font-size: 18px
}

p {
    margin: 0 0 10px
}

.small,small {
    font-size: 85%
}

.text-center {
    text-align: center
}
.text-muted {
    color: #777
}

ol,ul {
    margin-top: 0;
    margin-bottom: 10px
}

ol ol,ol ul,ul ol,ul ul {
    margin-bottom: 0
}

.list-unstyled {
    padding-left: 0;
    list-style: none
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.btn-dark {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #555555;
    background-image: -moz-linear-gradient(top, #666666, #444444);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#444444));
    background-image: -webkit-linear-gradient(top, #666666, #444444);
    background-image: -o-linear-gradient(top, #666666, #444444);
    background-image: linear-gradient(to bottom, #666666, #444444);
    background-repeat: repeat-x;
    border-color: #555 #555 #333;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1)
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease
}

.btn-group-vertical>.btn-group:after,.btn-group-vertical>.btn-group:before,.btn-toolbar:after,.btn-toolbar:before,.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.dl-horizontal dd:after,.dl-horizontal dd:before,.form-horizontal .form-group:after,.form-horizontal .form-group:before,.modal-footer:after,.modal-footer:before,.modal-header:after,.modal-header:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.pager:after,.pager:before,.panel-body:after,.panel-body:before,.row:after,.row:before {
    display: table;
    content: " "
}

.btn-group-vertical>.btn-group:after,.btn-toolbar:after,.clearfix:after,.container-fluid:after,.container:after,.dl-horizontal dd:after,.form-horizontal .form-group:after,.modal-footer:after,.modal-header:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.pager:after,.panel-body:after,.row:after {
    clear: both
}

.visible-print {
    display: none
}

.footer {
    padding: 20px 0;
    text-align: center;
    color: #f0f0f0;
    background-color: #575757;
    background-color: rgba(0, 0, 0, 0.6);
}

.header {
    background-color: #f0f0f0;
    background-image: url(/assets/img/bg-top.jpg);
    border-bottom: 1px solid #dddddd;
    box-shadow: 0 0 3px rgba(190, 190, 190, 0.75);
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: auto;
    padding: 20px 0;
    margin-bottom: 20px;
}

.header amp-img {
    float: left;
    height: 85px;
    margin-right: 15px;
    padding: 11px;
}


.header h4 {
    margin-top: 2px;
}

.grid-block {
    background-color: #f0f0f0;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #dddddd;
    padding: 15px 25px;
    margin: 10px 0;
}

.grid-block:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-color: transparent #ddd #ddd transparent;
    border-style: solid;
    border-width: 21px;
}

.grid-block:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-color: transparent #ebebeb #ebebeb transparent;
    border-style: solid;
    border-width: 20px;
}

.grid-block h4 {
    word-wrap: break-word;
}

.deviter {
    height: 1px;
    margin: 10px 0;
    border-bottom: 1px dashed #ddd;
}

/* timeline css */
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    margin-left: -1.5px;
    left: 2%;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
    margin-left: 67px;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    float: left;
    width: 100%;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 24px;
    margin-left: -70px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}


li.timeline-inverted > .timeline-badge.info {
    background-color: #249EBD;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > ul {
    margin-bottom: 0;
    padding-left: 15px;
    list-style-type: disc;
}

.timeline-body > p {
    margin-bottom: 0;
    padding-left: 30px;
}

.list-skills li .progress {
    height: 10px;
    box-shadow: none;
    overflow: inherit;
}

.list-skills li .progress .progress-bar {
    border-radius: 5px;
    text-align: right;
    position: relative;
    background: #63A4B5;
    box-shadow: none;
}

.list-skills li .progress .progress-bar span {
    position: relative;
    bottom: -15px;
    font-size: 10px;
    color: white;
    right: -13px;
    display: inline-block;
    background: #D84E4E;
    padding: 1px 5px;
    border-radius: 5px;
}

.list-skills li .progress .progress-bar span:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -5px;
    top: -5px;
    border-bottom: 5px solid #D84E4E;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.list-skills li:nth-child(even) .progress-bar {
    background: #4B6F78;
}

.title {
    border-bottom: 1px solid #ddd;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
}

.title.with-icon {
    padding-left: 50px;
}

.title .cat-title {
    margin-right: 5px;
    display: inline-block;
    padding-bottom: 10px;
    position: absolute;
    left: 0;
    background: #249EBD;
    padding: 10px;
    color: white;
    min-width: 40px;
    text-align: center;
    top: -6px;
    min-height: 40px;
    padding-bottom: 13px;
    border-radius: 5px;
}

.title .cat-title:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: -10px;
    border-top: 10px solid #249EBD;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

@media(max-width:770px) {
    .timeline-heading p:first-child {
        margin-bottom: 0;
    }
}

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}